<h2>Listing videos</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
<%= for video <- @videos do %>
    <tr>
      <td class="plain"><%= link video.title, to: video_path(@conn, :show, video) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New video", to: video_path(@conn, :new) %>
