<div id="players"></div>

<%= link "Back", to: video_path(@conn, :index) %>

<script>
  onInit(function() {
    let Presenter = require("web/static/scripts/presenter").default;
    let playerDiv = document.getElementById("players");
    new Presenter(playerDiv, "<%= @session %>");
  });
</script>
