<h3><%= @video.title %></h3>
<%= link "Present video", to: video_path(@conn, :present, @video) %>

<dl class="video">
  <dt>Link</dt>
  <dd><a href="<%= @video.url %>"><%= @video.url %></a></dd>

  <dt>Description</dt>
  <dd class="description"><%= @video.description %></dd>
</dl>

<div class="links">
  <%= link "All videos", to: video_path(@conn, :index) %>
  <%= link "Edit", to: video_path(@conn, :edit, @video) %>
</div>
