/* This file is for your main application css. */
#player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  iframe {
    width: 100%;
    height: 100%;
  }

  .player-id {
    color: #96b3a2;
    font-size: 8em;
    font-weight: bold;
  }

  .player-id--small {
    font-size: 1.5em;
    position: absolute;
    top: 8px;
    right: 13px;
    text-shadow: 1px 1px 1px #444;
    -webkit-animation: fadein 0.5s;
  }

  &.playing .player-id--small {
    visibility: hidden;
    -webkit-animation: fadeout 0.5s;
  }
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h4 {
    width: 100%;
    text-align: center;
  }

  .column {
    width: 200px;
    flex-grow: 1;
    padding: 8px;
  }

  .wrap-together {
    display: inherit;
    flex-wrap: inherit;
    flex-grow: 1;
    justify-content: inherit;
  }

  .available-player {
    box-shadow: 1px 1px 3px #888;
    border-left: 3px solid black;
    padding: 3px;
    margin-bottom: 8px;
    cursor: pointer;

    &:hover {
      font-weight: bold;

      &:after {
        content: " +";
      }
    }
  }

  .player {
    box-shadow: 1px 1px 3px #888;
    border-left: 3px solid black;
    padding: 3px;
    margin-bottom: 8px;

    strong {
      display: flex;
      justify-content: center;
      font-size: 2em;
    }

    dl {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      margin-bottom: 0;

      dt, dd {
        width: 40%;
      }

      dd.player--time {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .controls {

    .controls--buttons {
      display: flex;
      justify-content: space-around;

      .control {
        cursor: pointer;
        -webkit-user-select: none;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        box-shadow: 1px 1px 1px black;

        width: 60px;
        border: solid thin;
        border-radius: 13px;

        &:active {
          box-shadow: inset 0.2px 0.2px 0.2px black;
        }

        &.play div {
          box-sizing: content-box;
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-left: 12px solid #000;
          border-bottom: 8px solid transparent;
        }
        &.pause div {
          box-sizing: content-box;
          width: 4px;
          height: 16px;
          border-right: 4px solid #000;
          border-left: 4px solid #000;
        }
        &.syncPlayers {
          font-weight: bold;
        }
      }
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
}

.plain {
  a {
    color: black;
  }
}

.video {
  dt {
    margin-top: 21px;
    font-size: 1.1em;
  }

  dd.description {
    white-space: pre-wrap;
  }
}

.prevent-highlight {
  -webkit-user-select: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeout {
  from { opacity: 1; visibility: visible; }
  to   { opacity: 0; visibility: hidden;  }
}
