/* This file is for your main application css. */
#player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .player-id {
    color: #96b3a2;
    font-size: 8em;
    font-weight: bold;
  }

  .player-id--small {
    font-size: 1.5em;
    position: absolute;
    bottom: 8px;
    right: 13px;
  }
}

#players {
  display: flex;
  justify-content: space-between;

  .available-player {
    cursor: pointer;

    &:hover {
      font-weight: bold;

      &:after {
        content: " +";
      }
    }
  }

  .controls {

    .controls--buttons {
      display: flex;
      justify-content: space-around;

      .control {
        cursor: pointer;
        box-sizing: content-box;

        &.play {
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-left: 12px solid #000;
          border-bottom: 8px solid transparent;
        }
        &.pause {
          width: 4px;
          height: 16px;
          border-right: 4px solid #000;
          border-left: 4px solid #000;
        }
      }
    }
  }
}
